.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-block-01f0-49 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  line-height: 1.6;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4445em;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-icon-2 {
  font-size: 1.4445em;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
  font-size: 2.8889em;
}

.u-section-1 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
  font-size: 2.8889em;
}

.u-section-1 .u-table-cell-15 {
  font-size: 2.25rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-table-cell-18 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-icon-5 {
  font-size: 1.4445em;
}

.u-section-1 .u-table-cell-19 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
  font-size: 1.4445em;
}

.u-section-1 .u-table-cell-20 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-table-cell-22 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-table-cell-23 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-icon-7 {
  font-size: 1.4445em;
}

.u-section-1 .u-table-cell-24 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-icon-8 {
  color: rgb(17, 17, 17) !important;
  font-size: 1.4445em;
}

.u-section-1 .u-table-cell-25 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-table-cell-27 {
  font-size: 2.25rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
}

.u-section-1 .u-icon-9 {
  color: rgb(17, 17, 17) !important;
  font-size: 2.8889em;
}

.u-section-1 .u-icon-10 {
  color: rgb(17, 17, 17) !important;
  font-size: 2.8889em;
}

.u-section-1 .u-table-cell-30 {
  font-size: 2.25rem;
  font-weight: 700;
}

.u-block-01f0-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    color: rgb(251, 163, 30) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(26, 61, 88) !important;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-cell-7 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-8 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-9 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-10 {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-table-cell-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-9 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-10 {
    font-size: 1.875rem;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 911px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 680px;
  margin: 0 auto;
}

.u-section-2 .u-video-1 {
  height: 623px;
  width: 1151px;
  margin: 64px auto 60px -11px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  height: 178%;
  left: -39%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-2 .u-video-1 {
    height: 360px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-2 .u-video-1 {
    height: 303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    height: 195px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}
.u-section-3 {
  background-image: linear-gradient(#1a3d58, #db545a);
}

.u-section-3 .u-sheet-1 {
  min-height: 830px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: Candal;
  margin: 82px -64px 0 -80px;
}

.u-section-3 .u-list-1 {
  margin-top: 92px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(
      33.3333% - 20px
    );
  min-height: 423px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  width: 37px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 41px 30px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 54px auto 0;
  padding: 15px 44px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  width: 37px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 41px 30px 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 54px auto 0;
  padding: 15px 44px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  width: 37px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 41px 30px 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 54px auto 0;
  padding: 15px 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 474px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    width: 113px;
    height: 71px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    width: 113px;
    height: 71px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    width: 113px;
    height: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }
}
.u-section-4 .u-sheet-1 {
  min-height: 304px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 90px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 27px auto 60px;
  padding: 16px 97px 17px 96px;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}
